<ion-view view-title="Home Automation">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider icon ion-home"> Front door</div>
      <div class="item item-body">
        <div align="center">
         <img width=260 src="http://192.168.1.14/image/jpeg.cgi">
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider icon ion-home"> Garage</div>
      <div class="item item-body">
        <div align="center">
          <img width=260 src="http://192.168.1.12/image/jpeg.cgi">
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">System log</div>
      <div class="item item-body">
        <div>
          Sys logs
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
